/* HALO16 STYLE 1  */
$halo16-style1-title-color:                                                     null;
$halo16-style1-border:                                                          none;
$halo16-style1-subtitle-color:                                                  null;
$halo16-style1-content-color:                                                   null;
$halo16-style1-link-color:                                                      null;
$halo16-style1-background:                                                      null;

/* HALO16 STYLE 3  */
$halo16-style2-title-color:                                                     null;
$halo16-style2-border:                                                          none;
$halo16-style2-subtitle-color:                                                  null;
$halo16-style2-content-color:                                                   null;
$halo16-style2-link-color:                                                      null;
$halo16-style2-background:                                                      null;

/* HALO16 STYLE 3  */
$halo16-style3-title-color:                                                     null;
$halo16-style3-border:                                                          none;
$halo16-style3-subtitle-color:                                                  null;
$halo16-style3-content-color:                                                   null;
$halo16-style3-link-color:                                                      null;
$halo16-style3-background:                                                      null;

// HEADER MENU
$menu-header-menu-outer-container:                                              null;
$menu-header-menu-inner-container:                                              null;
$menu-header-menu-mobile-inner-container:                                       null;
$menu-header-menu-mobile-toggle-color:                                          null;
$menu-header-menu-mobile-separator-background:                                  null;
$menu-header-menu-border:                                                       null;
// LV1
$menu-header-menu-first-level-item-border-color:                                null;
$menu-header-menu-first-level-item-sub-menu-toggle-color:                       null;
$menu-header-menu-first-level-item-color:                                       null;
$menu-header-menu-first-level-item-background:                                  null;
$menu-header-menu-first-level-item-color-hover:                                 null;
$menu-header-menu-first-level-item-background-hover:                            null;
$menu-header-menu-md-first-level-item-color:                                    null;
$menu-header-menu-md-first-level-item-background:                               null;
$menu-header-menu-md-first-level-item-color-hover:                              null;
$menu-header-menu-md-first-level-item-background-hover:                         null;
$menu-header-menu-first-level-item-color-active:                                null;
$menu-header-menu-first-level-item-background-active:                           null;
$menu-header-menu-md-first-level-item-color-active:                             null;
$menu-header-menu-md-first-level-item-background-active:                        null;
// LV2
$menu-header-menu-second-level-item-border-color:                               null;
$menu-header-menu-second-level-item-sub-menu-toggle-color:                      null;
$menu-header-menu-second-level-item-color:                                      null;
$menu-header-menu-second-level-item-background:                                 null;
$menu-header-menu-second-level-item-color-hover:                                null;
$menu-header-menu-second-level-item-background-hover:                           null;
$menu-header-menu-md-second-level-item-color:                                   null;
$menu-header-menu-md-second-level-item-background:                              null;
$menu-header-menu-md-second-level-item-color-hover:                             null;
$menu-header-menu-md-second-level-item-background-hover:                        null;
$menu-header-menu-second-level-item-color-active:                               null;
$menu-header-menu-second-level-item-background-active:                          null;
$menu-header-menu-md-second-level-item-color-active:                            null;
$menu-header-menu-md-second-level-item-background-active:                       null;
// LV3
$menu-header-menu-third-level-item-border-color:                                null;
$menu-header-menu-third-level-item-color:                                       null;
$menu-header-menu-third-level-item-background:                                  null;
$menu-header-menu-third-level-item-color-hover:                                 null;
$menu-header-menu-third-level-item-background-hover:                            null;
$menu-header-menu-md-third-level-item-color:                                    null;
$menu-header-menu-md-third-level-item-background:                               null;
$menu-header-menu-md-third-level-item-color-hover:                              null;
$menu-header-menu-md-third-level-item-background-hover:                         null;
$menu-header-menu-third-level-item-color-active:                                null;
$menu-header-menu-third-level-item-background-active:                           null;
$menu-header-menu-md-third-level-item-color-active:                             null;
$menu-header-menu-md-third-level-item-background-active:                        null;

// PRIVACY MENU
$menu-privacy-menu-color:                                                       null;
$menu-privacy-menu-color-hover:                                                 null;

// HEADER
$header-logo-background:                                                        null;
$header-logo-md-background:                                                     null;
$header-lang-link-color:                                                        null;
$header-lang-link-background:                                                   null;
$header-lang-link-background-active:                                            null;
$header-lang-link-color-active:                                                 null;
$header-lang-link-border:                                                       null;

// FOOTER
$footer-info-container:                                                         null;
$footer-info-row:                                                               null;
$footer-info-title-color:                                                       null;
$footer-info-color:                                                             null;
$footer-info-icon-color:                                                        null;
$footer-info-separator-color:                                                   null;
$footer-socials-container:                                                      null;
$footer-socials-row:                                                            null;
$footer-disclaimer-container:                                                   null;
$footer-disclaimer-row:                                                         null;
$footer-disclaimer-color:                                                       null;
$footer-disclaimer-link-color:                                                  null;
$footer-signature-container:                                                    null;
$footer-signature-row:                                                          null;

// HALO8
$global-halo8-arrow-color:                                                      null;
$global-halo8-arrow-color-hover:                                                null;
$global-halo8-slide-description-color:                                          null;
$global-halo8-sm-slide-description-color:                                       null;
$global-halo8-shoadow:                                                          rgba(0,0,0,0);
$global-halo8-progress-bar-color:                                               null;


// GLOBAL
$global-color:                                                                  null;
$global-title-color:                                                            null;
$global-link-color:                                                             null;
$global-link-color-hover:                                                       null;
$global-paragraph-color:                                                        null;
$global-list-color:                                                             null;
$global-blockquote-background:                                                  null;
$global-blockquote-border:                                                      null;
$global-blockquote-color:                                                       null;
$global-cite-color:                                                             null;
$global-label-color:                                                            null;
$global-input-color:                                                            null;
$global-input-background:                                                       null;
$global-input-border:                                                           null;
$global-input-border-focus:                                                     null;
$global-input-disclaimer-color:                                                 null;
$global-input-disclaimer-link-color:                                            null;
$global-input-placeholder-color:                                                null;
$global-button-background:                                                      null;
$global-button-border:                                                          null;
$global-button-color:                                                           null;
$global-figcaption-background:                                                  null;
$global-figcaption-color:                                                       null;

// CONTENT
$content-background:                                                            null;
$content-breadcrumbs-color:                                                     null;
$content-breadcrumbs-color-current:                                             null;

// COOKIE NOTICE
$cookie-notice-color:                                                           null;
$cookie-notice-background:                                                      null;
$cookie-notice-button-color:                                                    null;
$cookie-notice-button-background:                                               null;

// CF7
$wpcf7-response-color:                                                          null;
$wpcf7-response-background:                                                     null;
$wpcf7-response-border:                                                         null;

// HALO2
$halo2-icon-color:                                                              null;
$halo2-icon-color-hover:                                                        null;
