@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:400,500');

$text-font:    'Open Sans';
$special-font: 'Roboto';
$icon-font:    'FontAwesome';
$title-font-style: 'italic';
$title-font-weight: '200';